<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="DependencySort" version="1.0" />
  <package id="Harden" version="1.1.10" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="LinqToXsd" version="2.0.2" />
  <package id="MiniProfiler.Contrib.NHibernate" version="1.0.4289.24845" />
  <package id="Munq.IocContainer" version="3.1.4" />
  <package id="NhCodeFirst" version="1.1.46" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="NHibernate.Instantiation" version="1.0.4295.27506" />
  <package id="Noodles" version="1.1.184" />
  <package id="ObjectFac" version="1.0.4386.21556" />
</packages>